/result
bcachefs
bcachefs.5
.*
*.o
*.so
*.d
*.a
tags
TAGS
cscope*
bcachefs-tools
compile_commands.json

# dot-files that we don't want to ignore
!.gitignore
!.github/dependabot.yml
!.github/workflows/
!.editorconfig

bcachefs-principles-of-operation.*
